{# source/Templates/Components/pagination_buttons.twig #}
<div class="flex justify-center items-center space-x-4 mt-4">
	{% if totalPages >= 1 %}
		<a href="{{ urlPrefix }}pageNumber={{ pageNumber > 1 ? pageNumber - 1 : 1 }}" class="min-w-[120px] text-center bg-cyan-950 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md transition {{ pageNumber <= 1 ? 'pointer-events-none opacity-50' : '' }}">
			Précédent
		</a>
		<span class="text-gray-700 font-semibold">
			Page
			{{ pageNumber }}
			sur
			{{ totalPages }}
		</span>
		<a href="{{ urlPrefix }}pageNumber={{ pageNumber < totalPages ? pageNumber + 1 : totalPages }}" class="min-w-[120px] text-center bg-cyan-950 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md transition {{ pageNumber >= totalPages ? 'pointer-events-none opacity-50' : '' }}">
			Suivant
		</a>
	{% else %}
		<span class="text-gray-700 font-semibold">Aucune donnée à afficher</span>
	{% endif %}
</div>

